.full-works{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.work-routine{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  margin-left: 10px;
}
.work-list{
  background-color: white;
  
}
.goal{
  text-align: left;
  margin-left: 15px;
  color: chocolate;
}