.full-works{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.work-routine{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  margin-left: 10px;
}
.work-list{
  background-color: white;
  
}
.list-nav{
  display: none;
}

.goal{
  text-align: left;
  margin-left: 15px;
  color: chocolate;
}
@media screen and (max-width: 800px){
  .full-works{
    display: flex;
  }
  .work-routine{
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
  }
  
}
@media screen and (max-width: 400px){
  .full-works{
    display: flex;
    flex-direction: column-reverse;
  }
  .work-routine{
    display: flex;
    flex-direction: column;
    
  }
  .list-nav{
    display: block;
  }
  .routine-nav{
    display: none;
  }
  
}